[submodule "thirdparty/log4cplus"]
	path = thirdparty/log4cplus
	url = https://github.com/log4cplus/log4cplus.git
	ignore = dirty
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/sanitizers-cmake"]
	path = thirdparty/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "thirdparty/CMake-codecov"]
	path = thirdparty/CMake-codecov
	url = git://github.com/RWTH-HPC/CMake-codecov.git
