sudo: required
dist: trusty
language: cpp

services:
  - docker

branches:
  only:
    - master
    - develop

before_install:
  - docker build -t travis-build -f infrastructure/tools/Dockerfile-travis .

script:
  # Common style check
  - docker run travis-build infrastructure/tools/checkstyle.sh $TRAVIS_COMMIT_RANGE
  # Clang, build debug and release and run tests for debug build
  - docker run travis-build /bin/bash -c "./waf configure build_all"
  - docker commit $(docker ps -l -q) travis-build
  - docker run travis-build build/debug/testrunner
  - docker run travis-build build/release/testrunner
  # GCC, build debug and release and run tests for debug
  - docker run travis-build /bin/bash -c "./waf clean_all"
  - docker commit $(docker ps -l -q) travis-build
  - docker run travis-build /bin/bash -c "CXX=g++ ./waf configure build_all"
  - docker commit $(docker ps -l -q) travis-build
  - docker run travis-build build/debug/testrunner
  - docker run travis-build build/release/testrunner
